.item1__img {
    position: relative;
    top: 10px;
    background-image: url("../assets/Anafes/Anafe_Morelli_Prego.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item2__img {
    position: relative;
    top: 8px;
    background-image: url("../assets/Anafes/Anafe_TST_Sulata_4hornallas.jpg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item3__img {
    position: relative;
    top: 8px;
    background-image: url("../assets/Anafes/Anafe_TST_Sulata_2hornallas.jpg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item4__img {
    position: relative;
    top: 8px;
    background-image: url("../assets/Anafes/Anafe_Vitroceramico_TST_4H.jpeg");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item5__img {
    position: relative;
    top: 8px;
    background-image: url("../assets/Anafes/Anafe_Vitroceramico_TST_2H.jpeg");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item6__img {
    position: relative;
    top: 8px;
    background-image: url("../assets//Anafes/Anafe_CookandFood_cf35.jpg");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}