
.item1__img {
    position: relative;
    top: 10px;
    background-image: url("../assets/categ_campanasPared/Campana_TST_Atuel_60m.jpg");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item2__img {
    position: relative;
    top: 8px;
    background-image: url("../assets/categ_campanasPared/Campana_TST_Traful_60m.jpg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item3__img {
    position: relative;
    top: 8px;
    background-image: url("../assets/categ_campanasPared/Campana_TST_Colhue_60cm.jpg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item4__img {
    position: relative;
    top: 8px;
    background-image: url("../assets/categ_campanasPared/Campana_TST_Lacar_60cm.jpg");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item5__img {
    position: relative;
    top: 8px;
    background-image: url("../assets/categ_campanasPared/Campana_TST_Tamel_60m.jpg");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}
.item6__img {
    position: relative;
    top: 8px;
    background-image: url("../assets/categ_campanasPared/Campana_Luxorgas_Retro__900.jpg");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 150px;
    padding-bottom: 100px;
}