/*=========== footer compartido ===========*/

footer {
    margin: 0 auto;
    width: 100vw;
    border-top: 1px solid $colorNaranja; 
}
.footer__contactanos {
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid $colorNaranja;
}
.footer__contactanos p {
    display: inline-block;
    line-height: 20px;
}
.footer__contactanos img{
    display: inline-block;
    margin: 4px 2px 0 0;
    width: 15px;
    height: 15px;
}
.footer__seguinos {
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid $colorNaranja;
}
.footer__seguinos img {
    margin: 10px;
    width: 30px;
    height: 30px;
}
.footer__copyright {
    padding-top: 10px;
    text-align: center;
}
.whatsappFlotante {
    position:fixed;
    right: 20px;
    bottom: 30px;
    z-index: 100;
    background-image: url("../assets/icons8-whatsapp-80.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
}