/*=========== estilo mainIndex ===========*/


.presentacion {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    height: auto;
}
.presentacion__text p {
    padding: 10px 0 10px 10px;
    line-height: 2rem;
    text-align:left;
}
.presentacion__showroom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.presentacion__showroom h2 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}
.presentacion__showroom--titulo {
    width: 100%;
    text-align: center;
}

.presentacion__showroom--img1 {
    background-image: url("../assets/showroom01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(195, 106, 0);
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}
.presentacion__showroom--img2 {
    background-image: url("../assets/showroom02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(195, 106, 0);
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}
.presentacion__showroom--img3 {
    background-image: url("../assets/showroom03.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(195, 106, 0);
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}
.presentacion__showroom--img4 {
    background-image: url("../assets/showroom04.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(195, 106, 0);
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}
.presentacion__showroom--transform:hover {
    transform: scale(1.5);
}
.novedades__titulo {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    height: 50px;
}

.novedades h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}
.novedades__card {
    background-color: white;
    border: 5px ridge rgb(195, 106, 0);
    border-radius: 25px;
    overflow: auto;
}
.novedades .card-body {
    background-color: rgb(235, 228, 228)
}
.novedades .card-title {
    font-size: 1.8rem;
}
.novedades .card-text {
    color: black;
}
