/*=========== estilo mainIndex ===========*/


.presentacion {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    height: auto;
    &__showroom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2.4rem;
            font-weight: bold;
            color: $colorFuente;
        }
        &--titulo {
            width: 100%;
            text-align: center;
        }
        &--images {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 10px;
            width: 150px;
            height: 150px;
            border: 1px solid $colorNaranja;
            border-radius: 10px;
            transform: scale(1);
            transition: all 0.4s ease-in-out;
        }
        &--img1 {
            background-image: url("../assets/showroom01.jpg");
            @extend .presentacion__showroom--images;
        }
        &--img2 {
            background-image: url("../assets/showroom02.jpg");
            @extend .presentacion__showroom--images;
        }
        &--img3 {
            background-image: url("../assets/showroom03.jpeg");
            @extend .presentacion__showroom--images;
        }
        &--img4 {
            background-image: url("../assets/showroom04.jpeg");
            @extend .presentacion__showroom--images;
        }
        &--transform:hover {
            transform: scale(1.5);
        }
    }
}
.novedades {
    h2 {
        font-size: 2.4rem;
        font-weight: bold;
        color: $colorFuente;
    }
    &__card {
        background-color: $colorFuente;
        border: 5px ridge $colorNaranja;
        border-radius: 25px;
        overflow: auto;
        height: 100%;
    }
    .card-body {
        background-color: rgb(235, 228, 228)
    }
    .card-title {
        font-size: 1.8rem;
    }
    .card-text {
        color: black;
    }

}
    



