/*=========== mainProductos ===========*/

.mainProductos__menu {
    a {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 30px;
    border-bottom: 1px solid $colorFuente;
    color: $colorFuente;
    }
    ul {
        background-color: #614728;
        width: 100%;
    }
    &--boton {
        background-color: #614728;
        border-color: $colorFuente;
        &:hover, :focus {
            background-color: #524230;
            border-color: $colorFuente;
        }
    }
}

.mainProductos__items {
    display: grid;
    grid-template-areas: 
    "item1 item2 item3" 
    "item4 item5 item6"; 
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    height: auto;
    margin: 0px 20px 15px 20px; 
}

@each $name, $item in $grid-items {
    .item-#{$name} {
        grid-area: $item;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.box {
 background-color: $colorFuente;
 border: 5px ridge $colorNaranja;
 border-radius: 25px;
 overflow: auto;
}
.mainProductos__items h3 {
    margin-top: 15px;
    padding-top: 5px;
    border-top: 5px solid $colorNaranja;
    line-height: 1.5rem;
    color: rgb(41, 38, 38);
}
.mainProductos__items h2 {
    padding-top: 3px;
    color: $colorNaranja;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
}
.items__buttons button {
    height: 36px;
    border: 2px solid $colorNaranja;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(41, 38, 38);
    border-radius: 25px;
    padding: 0 15px;
    margin: 10px 12px;
}
.items__buttons button:hover {
    cursor: pointer;
    border: 2px outset $colorNaranja;
    box-shadow: 1px 1px rgb(177, 171, 171);
}

// cocinas***************************************************************************

.item1__cocinas {
    @include imagesStyles(url("../assets/categ_cocinas/Cocina_Tecnocalor_58cm_fundiciondehierrro.jpg"), 80%);
}
.item2__cocinas {
    @include imagesStyles(url("../assets/categ_cocinas/Cocina4Hornallas_58cm.jpeg"), 80%);
}
.item3__cocinas {
    @include imagesStyles(url("../assets/categ_cocinas/Cocina_Depaolo_4hornallasyPlanchaConCarlitero.jpeg"), 80%);
}
.item4__cocinas {
    @include imagesStyles(url("../assets/categ_cocinas/Cocina_Sol_Real_conparrilla_6hornallas.png"), contain);
}
.item5__cocinas {
    @include imagesStyles(url("../assets/categ_cocinas/Cocina_Tecnocalor4_plancha_con_Carlitera.jpg"), 80%);
}
.item6__cocinas {
    @include imagesStyles(url("../assets/categ_cocinas/Multicocina_Tecnocaor_4H+planchayfreidora.jpg"), 80%);
}

// anafes******************************************************************************

.item1__anafes {
    @include imagesStyles(url("../assets/Anafes/Anafe_Morelli_Prego.png"), 70%);
}
.item2__anafes {
    @include imagesStyles(url("../assets/Anafes/Anafe_TST_Sulata_4hornallas.jpg"), 80%);
}
.item3__anafes {
    @include imagesStyles(url("../assets/Anafes/Anafe_TST_Sulata_2hornallas.jpg"), 80%);
}
.item4__anafes {
    @include imagesStyles(url("../assets/Anafes/Anafe_Vitroceramico_TST_4H.jpeg"), 60%);
}
.item5__anafes {
    @include imagesStyles(url("../assets/Anafes/Anafe_Vitroceramico_TST_2H.jpeg"), 60%);
}
.item6__anafes {
    @include imagesStyles(url("../assets//Anafes/Anafe_CookandFood_cf35.jpg"), 60%);
}

//campanas******************************************************************

.item1__campanas {
    @include imagesStyles(url("../assets/categ_campanasPared/Campana_TST_Atuel_60m.jpg"), 70%);
}
.item2__campanas {
    @include imagesStyles(url("../assets/categ_campanasPared/Campana_TST_Traful_60m.jpg"), 80%);
}
.item3__campanas {
    @include imagesStyles(url("../assets/categ_campanasPared/Campana_TST_Colhue_60cm.jpg"), 80%);
}
.item4__campanas {
    @include imagesStyles(url("../assets/categ_campanasPared/Campana_TST_Lacar_60cm.jpg"), 60%);
}
.item5__campanas {
    @include imagesStyles(url("../assets/categ_campanasPared/Campana_TST_Tamel_60m.jpg"), 60%);
}
.item6__campanas {
    @include imagesStyles(url("../assets/categ_campanasPared/Campana_Luxorgas_Retro__900.jpg"), 60%);
}

